---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
    <div class="post">
      <h1 class="post-title">
        <a href="{{ site.baseurl }}{{ post.url }}">
          {{ post.title }}
        </a>
      </h1>
      <div class="author">
        {% assign author = site.authors[post.author] | default: site.authors.hodoo %}
        <span>{{ post.date | date: "%Y.%m.%d" }} | {{ author.nickname }}</span>
        <img src="http://www.gravatar.com/avatar/{{ author.gravatar }}?s=40">
      </div>
      {% include post_tags.html %}
    </div>
    <hr style="margin: -50px 0 30px 0">
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
